@font-face {
  font-family: 'FreckleFace';
  src: asset-url('FreckleFace-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Audiowide';
  src: asset-url('Audiowide-Regular.ttf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'TheGirlNextDoor';
  src: asset-url('TheGirlNextDoor.ttf');
  font-weight: normal;
  font-style: normal;

}