.reveal
  .slides
    %section
      %h2 Asset Pipeline
      %p This example contains the bare minimum includes and markup required to run a reveal.js presentation.
    %section
      %h2 Fonts
      .app-assets
        Ovo je font iz app/assets/fonts
      .lib-assets
        Ovo je font iz lib/assets/fonts
      .vendor-assets
        Ovo je font iz vendor/assets/fonts
    %section
      %h2 Images
      = image_tag 'infinum.png'